.info-area p {
  font-size: 1.25vw;
  margin: 0vh;
}
.info-area label {
  font-weight: bold;
}

.profile-container {
  font-size: 1.5vw;
  width: 25vw;
  height: 75vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #9ac2c9;
  border-style: solid;
  border-color: #50777e;
  border-width: 0.3vw;
  border-radius: 2vw;
  max-width: 50vw;
}

.profile-image {
  border-style: solid;
  border-color: #50777e;
  border-radius: 50%;
  width: 15vw;
  height: 30vh;
}

.info-area-box {
  margin-top: 2vh;
}
