.info-area p {
  font-size: 60%;
  margin: 0vh;
}
.info-area label {
  font-weight: bold;
}

.profile-container {
  padding: 1%;
  font-size: 1.5vw;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #9487acce;
  border-style: solid;
  border-color: #7a708dce;
  border-width: 0.3vw;
  border-radius: 2vw;
}

.profile-image {
  border-style: solid;
  border-color: #7a708dce;
  border-radius: 50%;
  width: 40%;
}

.info-area-box {
  margin-top: 2vh;
}
