@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.app-container {

  display: flex;
  align-items: row;
  

}

.strike {
  text-decoration: line-through;
  color: #F45B69
}