.skills-container {
  font-size: 1.5vw;
  width: 75vw;
  height: 75vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #9487acce;
  border-style: solid;
  border-color: #7a708dce;
}

div.widget-ratings {
  display: flex !important;
  flex-direction: row;
}

.Skill-card {
  display: flex;
  flex-direction: column;
  background-color: #9487acce;
  border-style: solid;
  border-color: #7a708dce;
  border-width: 5%;
  border-radius: 5%;
  justify-content: space-evenly;
}

.Skill-card label {
  font-weight: bold;
}

.Skill-card p {
  font-size: 2vh !important;
  justify-content: flex-start;
}
