
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header1 {
   font-family: 'Pacifico', cursive;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   align-content: space-between;
   flex-direction: row;
   font-size: 4vh;
   margin-bottom: 7vh;
   margin-top: -2vh;
   justify-content: center;
   background-color: #FFCB47;
   border: none;
   width: 100vw;
  

}
/* .menu-div {
    align-self: flex-start;
}

.header1>*:first-child {
    flex-direction: row;
    align-self: flex-start;
   
} */

.logo{
    min-height: 5vh;
    min-width: 5vw;
    
    max-height: 20vh;
    max-width: 20vw;
}

.bm-overlay {
    position: absolute !important;
    width: 20rem !important;
    /* background:  !important; */
 
  }
  
  .bm-burger-button {
    position: absolute;
    left: 2rem;
    top: 4rem;
    z-index: 1;
    width: 4rem;
    height: 4rem;
    margin: 0rem;
    padding: 0rem;
    font-size: 0px;
    background: transparent;
    cursor: pointer;
  }
  
